$card-color: lighten($info, 30%);
$card-color--darken: darken($info, 30%);

$bg-color: #fafafa;

$alert-wrapp-color: rgba(0, 0, 0, 0.3);

%transition {
  transition: all 0.3s ease;
}

%appearance {
  appearance: none;
}
