.form-select {
  @extend %appearance;
}

.calendar {
  background-color: #fff;

  &__head {
    background: $light;

    th {
      padding: .5rem;
      border-bottom: none!important;
    }
  }

  &__body tr {
    td {
      height: 80px;
    }

    th:first-child {
      padding-top: 14px;
      text-align: center;
    }
  }

  &__col {
    width: 18%;
  }
}