.card {
  background: $card-color;
  height: 100%;
  padding: 5px;

  &:hover {
    .card__btn_close {
      opacity: 0.5;
    }

    .card__avatar {
      margin-right: -5px;
    }

    &.dragged {
      opacity: 0.5;
    }

    &.floating {
      cursor: grabbing !important;
      position: absolute;
      z-index: 990;
    }
  }

  &__title {
    color: $card-color--darken;
    font-weight: bold;
    line-height: 1em;
  }

  &__avatar {
    @extend %transition;
    background-color: #fff;
    border: 2px solid $card-color;
    border-radius: 50%;
    cursor: default;
    margin-right: -10px;
    position: relative;
    width: 25px;
    z-index: 1;

    &:hover {
      transform: scale(1.2);
      z-index: 2;
    }

    &:active {
      opacity: 1;
    }
  }

  
  &__btn {
    border: none;

    &_close {
      @extend %transition;
      box-sizing: border-box;
      height: 15px;
      opacity: 0;
      position: absolute;
      right: 5px;
      top: calc(50% - 8.5px);
      width: 15px;
      background: $backgrund-x-img;
    }
  }
}
